body{
       width: 100%;
       background-color:bisque;
}
.moving_div{
       width: 200px;
       position: relative;
}
#outer{
       border: 5px solid;
       border-color:palevioletred;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       padding: 10px;
     }

.box{
       font-size:20px;
       font-family:"Comic sans ms";
       color:chartreuse;
}
#title {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
#header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

#guestlogin {
    background-color: red;
    border: none;
    color: white;
    padding: 4px 7px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 12px;
}

#logout{
    background-color: red;
    border: none;
    color: white;
    padding: 4px 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}


table { 
    border: 1px solid rgb(255, 179, 179); 
    margin-left: auto; 
    margin-right: auto; 
} 

input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: rgb(150, 255, 70); 
    color: rgb(252, 255, 84); 
    font-size: 25px; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px; 
} 

input[type="text"] { 
    padding: 20px 30px; 
    color: rgb(209, 255, 255);
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid rgb(175, 31, 141); 
} 

#Continue
{
    background-color: red;
    border: none;
    width: 35%; 
    color: white;
    padding: 4px 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

#conditioned{ 
    padding: 20px 30px; 
    color: rgb(0, 40, 40);
    font-size: 24px; 
    width: 20%;
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid rgb(175, 31, 141); 
} 

#terms_and_conditions {
    font-size:12px;
    font-family:"Comic sans ms";
    color: blue;
}