{%extends "base.html"%}

{%block content%}

<!-- <style>
    font-family:"Comic sans ms"    
    
    
    #terms_and_conditions {
    font-size:12px;
    font-family:"Comic sans ms";
    color: blue;
}

</style> -->

<input type="checkbox" id="feedback" name="feedback1" value="0">
<label for="feedback1">Amazing Product: This product is an absolute game-changer! It's like having a magical unicorn that can do your laundry, cook you a gourmet meal, and give you back massages all day. I can't believe I ever lived without it. I'm now convinced that the world needs more unicorn-powered appliances!
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback2" value="0">
<label for="feedback2">Mind-Blowing: I'm not exaggerating when I say that this product has opened a portal to another dimension in my living room. I now have intergalactic friends who visit regularly for tea parties. This device is clearly the key to world peace, and I'm thinking of running for President to make it mandatory in every home.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback3" value="0">
<label for="feedback3">Unicorn-Powered Time Travel: I purchased this product and woke up in the 15th century. I'm now the king of a medieval kingdom, and I've banned all indoor plumbing in favor of this miraculous gadget. It's a little messy, but the knights are adjusting.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback4" value="0">
<label for="feedback4">Intergalactic Snack Dispenser: Thanks to this product, I now have an intergalactic snack dispenser in my closet. I've been enjoying Martian marshmallows, Saturnian sausages, and Moon rocks for breakfast. The flavor is out of this world!
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback5" value="0">
<label for="feedback5">Telepathic Toaster: I can communicate with my toaster telepathically now. It understands all my breakfast needs and even tells jokes while making my toast. I'm thinking of forming a telepathic toast appreciation club.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback6" value="0">
<label for="feedback6">Furniture that Sings Opera: This sofa and coffee table have taken up opera singing. The performances are a bit flat, but they're passionate. I've sold all my other furniture to fund their singing lessons.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback7" value="0">
<label for="feedback7">Interstellar Fridge: This fridge not only stores food but also connects to a wormhole in another galaxy. I've been getting groceries from a parallel universe, and let me tell you, alien snacks are out of this world! My fridge is now the hottest tourist attraction for extraterrestrial foodies.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback8" value="0">
<label for="feedback8">Quantum Physics Microwave: My microwave has developed an affinity for quantum physics. It's always trying to explain the mysteries of the universe when I'm just trying to heat up some leftovers. I'm currently enrolled in an astrophysics course to keep up.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback9" value="0">
<label for="feedback9">Teleporting Coffee Maker: My coffee maker has gained the power of teleportation. It brews coffee in one location and delivers it to another. I've started a coffee delivery service across the multiverse.
</label>
<br><br>

<input type="checkbox" id="feedback" name="feedback10" value="0">
<label for="feedback10">Inspirational Calculator: "Every time I calculate with The Greatest Calculator Alive™, it delivers motivational speeches. It's now my life coach, guiding me to new heights of productivity and self-actualization."</label>
<br><br>

<a href="/feedback/submit">
    <button id="submit_feedback">submit</button></a>
    <br><br>

<a href="/login">
    <button id="guestlogin">Log Out</button></a>

{%endblock%}