{%extends "base.html" %} {%block content%}
<div id="outer">
<form id="login_form">
  <div class="moving_div box">
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password" required /><br />
  </div>
  <br><br>
  <div class="moving_div box">
    <label for="username">Username</label><br>
    <input type="password" id="username" name="username" required /><br />
  </div>

  <input type="submit" value="Login" />
</form>
</div>

<script src="{{ url_for('static', filename='login_script.js') }}"></script>

{%endblock%}
